.party-box {
    width: 100%;
    max-width: 700px;
    position: relative;
    padding: 20px;
}

.party-card {
    padding: 30px;
    display: flex;
    position: relative;
}

.left-column {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        scale: 1.6;
        margin-right: 45px;
    }
}

.logo-placeholder {
    width: 150px;
    border-radius: 50%;
}

.party-name {
    text-transform: uppercase;
}

.party-description {
    max-width: 400px;
}

.percentage-circle-placeholder {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
}

.yellow-stripe {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 15px;
    background-color: #f9d56e;
}
