@import "variables.css";
@import "questions.css";
@import "poll.css";
@import "chart.css";
@import "typography.css";

body {
    font-family: 'Arial', sans-serif;
    background-color: #F2E3C4;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

svg {
  vector-effect: non-scaling-stroke;
}

div {
    box-sizing: border-box;
}

.title { text-transform: capitalize; }

.container {
    width: 100%;
    max-width: 896px;
    padding: 20px;
}


.options {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column { flex-direction: column; }

.option-icon {
    font-size: 20px;
}

button:disabled {
    opacity: 0.25;
}
