@import "questions.css";

body {
    font-family: 'Arial', sans-serif;
    background-color: #F2E3C4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.title { text-transform: capitalize; }

.container {
    width: 100%;
    max-width: 800px;
    padding: 20px;
}


.options {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.option-icon {
    font-size: 20px;
}
