@import "variables.css";
@import "fold.css";
@import "questions.css";
@import "poll.css";
@import "chart.css";
@import "typography.css";

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow-x: hidden;
}

.curves {
    background-image:
        url("../images/red_curve.svg"),
        url("../images/blue_curve.svg");
    background-position: fixed;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: 2px 100px;
}

svg {
  vector-effect: non-scaling-stroke;
}

div {
    box-sizing: border-box;
}

.btn {
  border-radius: var(--button-radius);
  cursor: pointer;
  padding: 16px 24px;
  display: flex;
}


.title { text-transform: capitalize; }

.container {
    width: 100%;
    padding: 20px;
}


.options {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex { display: flex; }
.flex-column { flex-direction: column; }

.option-icon {
    font-size: 20px;
}

button:disabled {
    opacity: 0.25;
}
