.agree-totally {
  background-color: #8ebf7f
}

.agree-totally:has(input[type="radio"]:checked) {
  background-color: #0a712f;
}

.agree-partially {
  background-color: #c1ca7f;
}

.agree-partially:has(input[type="radio"]:checked) {
  background-color: #5e7725;
}

.neutral {
  background-color: #ddc48e;
}

.neutral:has(input[type="radio"]:checked) {
  background-color: #c9933e;
}

.disagree-partially {
  background-color: #f4a788;
}

.disagree-partially:has(input[type="radio"]:checked) {
  background-color: #f15a29;
}

.disagree-totally {
  background-color: #ee8a87;
}

.disagree-totally:has(input[type="radio"]:checked) {
  background-color: #e62e2d;
}

.no-answer {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #666;
}


.navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.nav-button {
  padding: 12px 25px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid #333;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 8px;
}

.question-header {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  max-width: 200px;
  margin-bottom: 40px;

  .question-title {
    font-size: 28px;
    font-weight: bold;
    color: #333;
  }

  .question-number {
    font-style: italic;
    gap: 5px;
    background-color: #F9F2E5;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 8px 16px;
    font-size: 18px;
    min-width: 70px;
  }

  .current-number {
    font-weight: bold;
    font-size: 28px;
  }
}

.content-box {
  background-color: #F9F2E5;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 30px;
  padding-left: 40px;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  gap: 50px;

  input[type="radio"] {
    display: none;
  }

  .question-text {
    color: #333;
    font-size: 18px;
    margin-bottom: 25px;
    line-height: 1.5;
  }

  .category {
    color: #c9933e;
    font-size: 16px;
    margin-bottom: 15px;
  }

  .option {
    padding: 12px 20px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    color: white;
    min-width: 280px;
  }
}



